{{define "body"}}
<div class="h5 bg-primary text-white text-center m-2 p-2">RSVP</div>
{{if gt (len.Errors) 0}}
<ul class="text-danger mt-3">
    {{range .Errors}}
        <li>{{.}}</li>
    {{end}}
</ul>
{{end}}
<form method="POST" action="/form">
    <div class="form-group" my-1>
        <label>Your name:</label>
        <input name="name" class="form-control" type="text" value="{{.Name}}">
    </div>
    <div class="form-group" my-1>
        <label>Your email:</label>
        <input name="email" class="form-control" type="text" value="{{.Email}}">
    </div>
    <div class="form-group" my-1>
        <label>Your phone number:</label>
        <input name="phone" class="form-control" type="text" value="{{.Phone}}">
    </div>
    <div class="form-group" my-1>
        <label>Will you be attending?</label>
        <select name="wilatend" class="form-select">
            <option value="true" {{if .WillAttend}}selected{{end}}>Yes, I will be there</option>
            <option value="false" {{if not .WillAttend}}selected{{end}}>No, I can't come</option>
        </select>
    </div>
    <button type="submit" class="btn btn-primary mt-3">Submit RSVP</button>
</form>
{{end}}